body {
    text-align: center;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

#board div {
    background-color: grey;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    width: 24px;
    height: 24px;
}
#board {
    width: calc(26 * 24px);
    margin: auto;
}
#board .snake {
    background-color: cyan;
}

#board .food {
    background-color: red;
}

.scoreBoard p {
    font-size: 20px;
    font-weight: bold;
}